.content{
    position: relative;
    z-index: 2;
    top: 30px;
    padding: 50px 0;
    display: block;
}

.left{
    width: 655px;
    color: #000;
}

.right{
    position: absolute;
    top: 0px;
    right: -130px;
    z-index: 2;
    padding-left: 100px;
}
